**/__pycache__/
**/catboost_info/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

mdgmm/

cuts/

ws_mostly/

/results*/
/fair_tree_classifier-main/
/scikit-learn-main-old/


/tabular_datasets/*
!/tabular_datasets/Info/
!/tabular_datasets/*.*
competitors/TabFairGAN_main/TabFairGAN_original.py


screen_log*

Fair_Max_Entropy_Distributions

src/Models
data/

util/random_results/

lshash/
# scikit-learn-main/

.vscode/
venv/
workspace/

**/results_lambda_tradeoff/
**/result_lambda_re_run/

**/synthetic_lambda_tradeoff/
**/tree_old/
**/tree_working/

plots_test/
NPEET-master/
